# Backend. Responsible: @yel-gar
/backend/ @yel-gar

# Frontend. Responsible: @krchvl
/frontend/ @krchvl

# Parser and calculator. Responsible: @AX-Ray
/parser/ @AX-Ray
/calculator/ @AX-Ray

# CI/CD Pipeline. Responsible: @yel-gar
/.github/ @yel-gar
.pre-commit-config.yaml @yel-gar

# Deployment Pipeline. Responsible: @yel-gar
/.env.example @yel-gar
/docker-compose.yaml @yel-gar
Dockerfile @yel-gar
