.button {
  padding: 15px;
  border: none;
  cursor: pointer;
  color: var(--color-white);
  transition: all 300ms;
  border-radius: 8px;

  display: flex;
  align-items: center;

  &--main {
    background: var(--color-main);

    &:hover {
      background: var(--color-hover);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-main);
    outline-offset: 2px;
  }
}
