.form-control {
  font: inherit;
  color: var(--color-text);

  background: var(--color-surface);

  transition:
    border-color 0.15s ease,
    box-shadow 0.15s ease;

  padding: 16px;

  overflow-wrap: break-word;
  word-break: break-word;

  outline: none;
  border: 1px solid var(--color-outline);
  border-radius: 8px;

  &:focus-visible {
    border-color: var(--color-main);
    box-shadow: 0 0 0 2px var(--color-main);
  }

  &--textarea {
    resize: vertical;

    min-height: 200px;

    padding: 14px;

    line-height: 1.5;
  }
}

.input-wrapper > [appinputprefix],
.input-wrapper > [appinputsuffix] {
  flex-shrink: 0;
  align-self: center;
}

.input-wrapper > [appinputprefix],
.input-wrapper > [appinputsuffix] {
  flex-shrink: 0;
  align-self: center;
}

.input-wrapper .input__divider {
  display: none;
  flex-shrink: 0;
  align-self: center;

  width: 1px;
  height: 20px;
  margin-left: -3px;
  margin-right: -8px;

  background: var(--color-outline);
}

.input-wrapper:has(> [appinputprefix]) .input__divider {
  display: block;
}
