.form-control {
  font: inherit;

  transition:
    border-color 0.15s ease,
    box-shadow 0.15s ease;

  padding: 16px;

  overflow-wrap: break-word;
  word-break: break-word;

  outline: none;
  border: 1px solid var(--color-outline);
  border-radius: 8px;

  &:focus-visible {
    border-color: var(--color-main);
    box-shadow: 0 0 0 2px var(--color-main);
  }

  &--textarea {
    resize: vertical;

    min-height: 200px;

    padding: 14px;

    line-height: 1.5;
  }
}
