# CHANGE TO 0 IN PRODUCTION
DEBUG=1

# UPDATE IN PRODUCTION
FRONTEND_URL=http://localhost:8080
BACKEND_URL=http://localhost:3000

# SET SECURE VALUES
# You can generate secure secret with `openssl rand -hex 48`
POSTGRES_PASSWORD=
RABBITMQ_PASS=
TASKIQ_API_TOKEN=

FRONTEND_PORT=8080
BACKEND_PORT=3000
TASKIQ_DASHBOARD_PORT=8000

POSTGRES_USER=divaldi
POSTGRES_DB=divaldi
RABBITMQ_USER=admin

GIGACHAT_MODEL=GigaChat-3-Ultra
