# CHANGE TO 0 IN PRODUCTION
DEBUG=1

# UPDATE IN PRODUCTION
FRONTEND_URL=http://localhost:8080
BACKEND_URL=http://localhost:3000
MINIO_URL=http://localhost:9000

SBER_API_KEY=mock
SBER_API_SCOPE=PERS

# SET SECURE VALUES
# You can generate secure secret with `openssl rand -hex 48`
POSTGRES_PASSWORD=
RABBITMQ_PASS=
TASKIQ_API_TOKEN=
MINIO_ROOT_PASSWORD=

FRONTEND_PORT=8080
BACKEND_PORT=3000
TASKIQ_DASHBOARD_PORT=8000
MINIO_PORT=9000
MINIO_DASHBOARD_PORT=9001

POSTGRES_USER=divaldi
POSTGRES_DB=divaldi
RABBITMQ_USER=admin

MINIO_ROOT_USER=minio

GIGACHAT_MODEL=GigaChat-3-Ultra
