@keyframes skeleton-shimmer {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: 0%;
  }
}

.skeleton-item {
  display: block;
  border-radius: 4px;

  background: linear-gradient(
    100deg,
    var(--color-skeleton-base) 0%,
    var(--color-skeleton-base) 50%,
    var(--color-skeleton-shimmer) 60%,
    var(--color-skeleton-base) 70%
  );
  background-size: 200% 100%;
  background-attachment: fixed;
  animation: skeleton-shimmer 2s ease-out infinite;

  &--static {
    animation: none;
    background: var(--color-skeleton-base);
  }

  &--circle {
    border-radius: 50%;
  }

  &--rect {
    border-radius: 8px;
  }

  &--text {
    border-radius: 4px;
  }

  &__row {
    display: block;
    border-radius: 4px;

    background: linear-gradient(
      100deg,
      var(--color-skeleton-base) 0%,
      var(--color-skeleton-base) 50%,
      var(--color-skeleton-shimmer) 60%,
      var(--color-skeleton-base) 70%
    );
    background-size: 200% 100%;
    background-attachment: fixed;
    animation: skeleton-shimmer 2s ease-out infinite;

    .skeleton-item--static & {
      animation: none;
      background: var(--color-skeleton-base);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    &,
    &__row {
      animation: none;
      background: var(--color-skeleton-base);
    }
  }
}
