:host {
  position: relative;
  display: block;

  & > textarea {
    width: 100%;
  }
}

.textarea__counter {
  position: absolute;
  bottom: 5px;
  right: 10px;
  translate: 0 -50%;

  background: var(--color-white);

  &--max {
    color: var(--color-danger);
  }
}
